
/**
 * Clean Theme for reveal.js 
 *
 * @author David W. McKelvey
 */

/*********************************************
 * BEIGE THEME
 *********************************************/

.theme-beige body {
	color: #333;

	background: #f7f3de;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(247,242,211,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(247,242,211,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(247,242,211,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(247,242,211,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(247,242,211,1) 100%);
	background: radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(247,242,211,1) 100%);
}

.theme-beige .reveal h1,
.theme-beige .reveal h2,
.theme-beige .reveal h3,
.theme-beige .reveal h4,
.theme-beige .reveal h5,
.theme-beige .reveal h6 {
	color: #333;
	text-shadow: none;
}

.theme-beige .reveal a,
.theme-beige .reveal a:hover,
.theme-beige .reveal .controls a.enabled {
	color: #8b743d;
}

.theme-beige .reveal .progress span,
.theme-beige .reveal .roll span:after {
	background: #8b743d;
}

.theme-beige .reveal a.image:hover img {
	border-color: #8b743d;
}

/* Tag Declarations */
.theme-clean body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
/*
	font-size: 36px;
	font-weight: 200;
	letter-spacing: -0.02em;
	color: #eee;
*/
	background: #0ea3d9;
/*
	background: -moz-radial-gradient(center, ellipse cover, rgba(186,221,255,1) 0%, rgba(186,221,255,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(85,90,95,1)), color-stop(100%,rgba(28,30,32,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(186,221,255,1) 0%, rgba(186,221,255,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(186,221,255,1) 0%, rgba(186,221,255,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(186,221,255,1) 0%, rgba(186,221,255,1) 100%);
	background: radial-gradient(center, ellipse cover, rgba(186,221,255,1) 0%, rgba(186,221,255,1) 100%);
*/
}

/* Progress Bar */
.theme-clean .reveal .progress span {
	background: #fff;
}

.reveal h1 {
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 20px 20px rgba(0,0,0,.15);
}

/*
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-family: calluna-sans-1, calluna-sans-2, sans-serif;

font-family: "HelveticaNeueCondensed", "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "HelveticaNeueRomanCondensed", "HelveticaNeue-Roman-Condensed", "Helvetica Neue Roman Condensed", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
font-weight:400;
font-stretch:condensed;

font-family: "HelveticaNeueMediumCondensed", "HelveticaNeue-Medium-Condensed", "Helvetica Neue Medium Condensed", "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
font-weight:500;
font-stretch:condensed;

font-family: "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
font-weight:600;
font-stretch:condensed;
*/

/*********************************************
 * CONTROLS
 *********************************************/

.reveal .controls {
	display: none;
	position: fixed;
	width: 100px;
	height: 100px;
	z-index: 30;

	right: 0;
	bottom: 0;
}
	
	.reveal .controls a {
		font-size: 30px;
		position: absolute;
		opacity: 0.1;
		color: #fff;
	}

/*********************************************
 * DEFAULT STATES
 *********************************************/

.state-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba( 0, 0, 0, 0 );

	-webkit-transition: background 800ms ease;
	   -moz-transition: background 800ms ease;
	    -ms-transition: background 800ms ease;
	     -o-transition: background 800ms ease;
	        transition: background 800ms ease;
}
.alert .state-background {
	background: rgba( 200, 50, 30, 0.6 );
}
.soothe .state-background {
	background: rgba( 50, 200, 90, 0.4 );
}
.blackout .state-background {
	background: rgba( 0, 0, 0, 0.6 );
}
