
/**
 * Clean Theme for reveal.js 
 *
 * @author David W. McKelvey
 */

/*********************************************
 * DEFAULT ELEMENT STYLES
 *********************************************/

.reveal .slides section {
  padding-top: 210px;
}

.reveal .slides section.top {
  padding-top: 0;
}

.reveal .wrap.iframe {
	width: 864px;
	height: 486px;
	overflow: hidden;
}

.reveal iframe {
  width: 1920px;
  height: 1080px;
	border: none;
	-moz-transform: scale(0.45);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.45);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.45);
	-webkit-transform-origin: 0 0;
}

.reveal pre {
  max-height: 500px;
  overflow: scroll;
}

.reveal code {
  padding-left: 1.5em;
  width: 300%;
}

/*********************************************
 * CLEAN THEME
 *********************************************/

.theme-clean body {
	font-size: 42px;
  font-family: "HelveticaNeueLTStd-Cn";
  font-weight: 200;
  font-stretch: condensed;
	background: #0f8dd7;
}

/* headers */
.theme-clean .reveal h1,
.theme-clean .reveal h2,
.theme-clean .reveal h3,
.theme-clean .reveal h4,
.theme-clean .reveal h5,
.theme-clean .reveal h6 {
	color: #333;
	font-family: 'Calluna Sans';
	letter-spacing: -0.05em;
	font-weight: 600;
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
	text-transform: none;
}

/* links */
.theme-clean .reveal a,
.theme-clean .reveal a:hover,
.theme-clean .reveal .controls a.enabled {
	color: #91c8ff;
}

/* quotes */
.theme-clean blockquote {
  padding: 0.5em 1em;
  color: #333;
  font-size: 36px;
  line-height: 1.35;
  font-style: normal;
  background: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
/*
  background: rgba(255, 255, 255, 0.15);
  -moz-box-shadow:rgba(0, 0, 0, 0.24) 0 0 3px 1px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.24) 0 0 3px 1px;
  -o-box-shadow:rgba(0, 0, 0, 0.24) 0 0 3px 1px;
  box-shadow:rgba(0, 0, 0, 0.24) 0 0 3px 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
*/
}
.reveal blockquote:before {
  position: absolute;
  left: 0;
  margin-top: -36px;
	content: '“';
	font-family: 'Calluna Sans';
	font-size: 90px;
	text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.33);
}
.reveal blockquote:after {
  position: absolute;
  margin-top: -36px;
	content: '”';
	font-family: 'Calluna Sans';
	font-size: 90px;
	text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.33);
}

/* Progress Bar */
.theme-clean .reveal .progress span {
	background: #fff;
}
